<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <br>
    <ion-title>Suchen</ion-title>
    <br>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Suchergebnisse</ion-list-header>

    <ion-item class="ion-no-padding">
      <ion-card routerLink="/recipe">
        <img src="https://www.koch-mit.de/app/uploads/2020/02/pizzatitel-300x169.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Backofen und Pizzastein</ion-card-subtitle>
          <ion-card-title>Pizza Neapolitana</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Pizza nach traditionell Neappolitanischer Art
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item class="ion-no-padding">
      <ion-card routerLink="/recipe">
        <img src="https://www.koch-mit.de/app/uploads/2020/02/pizzatitel-300x169.jpg" style="object-fit: cover" />
        <ion-card-header>
          <ion-card-subtitle>Backofen und Pizzastein</ion-card-subtitle>
          <ion-card-title>Pizza Neapolitana</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Pizza nach traditionell Neappolitanischer Art
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item class="ion-no-padding">
      <ion-card routerLink="/recipe">
        <img src="https://www.koch-mit.de/app/uploads/2020/02/pizzatitel-300x169.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Backofen und Pizzastein</ion-card-subtitle>
          <ion-card-title>Pizza Neapolitana</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Pizza nach traditionell Neappolitanischer Art
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
