<ion-header [translucent]="true" *ngIf="user.loggedIn">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <br>
    <ion-title>Cooking@KIT</ion-title>
    <br>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-auth [preview]="true" *ngIf="!user.loggedIn"></app-auth>
  <div id="home_content" *ngIf="user.loggedIn">
    Content für eingeloggte User #cool
    <ion-button routerLink="explore">Test-Seite</ion-button>
  </div>
</ion-content>
