<ion-header *ngIf="user.loggedIn">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <br>
    <ion-title>Cooking@KIT</ion-title>
    <br>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-auth [preview]="true" *ngIf="!user.loggedIn"></app-auth>
  <div id="home_content" *ngIf="user.loggedIn">
    <!--<ion-card color="dark">
      <ion-card-header>
        <ion-card-title>Hi, {{ user.user.getAuthMailUser() }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text>
          Willkommen zurück! Während du weg warst haben wir das hier für dich rausgesucht:
        </ion-text>
      </ion-card-content>
    </ion-card>-->

    <ion-card routerLink="/recipe/fnjdsgjn4857z39474">
      <img src="https://www.koch-mit.de/app/uploads/2020/02/pizzatitel-300x169.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Empfehlung des Tages</ion-card-subtitle>
        <ion-card-title>Pizza Neapolitana</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Pizza nach traditionell Neapolitanischer Art
        <br>
        <ion-chip *ngFor="let chip of user.createInfoChips(recipeOfTheDay)" color="{{chip.color}}">
          <ion-icon *ngIf="chip.icon !== ''" name="{{chip.icon}}"></ion-icon>
          <ion-label>{{chip.name}}</ion-label>
        </ion-chip>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
